/*
White: #F2D7EE
Pink: #F0D1EA
Gray: #423E37
Black: ##161316
*/

@font-face {
    font-family: BellBot;
    src: url(fonts/belbott.ttf);
}

*{
    margin : 0;
    padding : 0;
    font-family: Arial;
}

* > p{
    margin-left: 1em;
    padding-left: 0.5em;
    border-left: 0.2em #161316 solid;
}

footer > p{
    margin-left: auto;
    padding-left: auto;
    border-left: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(images/background.webp);
    background-position: center;
    background-size: cover;
}

nav, footer{
    background-color: #161316;
    color: #f5f5f5;
    
}

th:hover{
    text-shadow: 0px 0px 0.2em #f5f5f5;
}

a{
    text-decoration: none;
    color: #f5f5f5;
}

article{
    margin: 0.5em;
    border-radius: 0.5em;
    padding: 0.5em;
    padding-bottom: 1em;
    background: #f5f5f5;
    box-shadow: 0px 0px 1em #161316;
}

article > h1{
    font-size: 2em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

article > h2{
    font-size: 1.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

form{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    padding: 0.5em;
}

.IndexTitle{
    background-image: url(images/background.webp);
    background-position: center;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    flex: auto;

}

.TitleCard{
    text-align: center;
    background-color: #161316;
    color: #f5f5f5;
    box-shadow: 0px 0px 0.3em #161316;

    padding: 1em;
    font-size: 2em;
    border-radius: 12px;
}

.ImageContainer{
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.GridTable{
        grid-row: 2;
        grid-column: 1 / 2;
    }

.form-submit-button {
    margin-top: 1em;
    width: 5em;
    height: 3em;
    background-color: #161316;
    color:#f5f5f5;
    border-radius: 0.2em;
    box-shadow: 0px 0px 0.2em black;
}
    
.form-submit-button:hover {
    box-shadow: 0 0 1em #161316;
}

@media screen and (min-width: 721px) {
    
    nav, footer{
        padding: 1.5em;
    }
    
    nav{
        position: relative;
        overflow: hidden;
        font-size: 1em;
    }
    
    th{
        padding-right: 1vw;
    }
    
    footer{
        font-size: 1em;
        margin-top:auto;
    }

    .IndexTitle > img{
        height: 20vw;;
    }
    
    .ImageContainer{
        flex-direction: row;
    }

    .ImageContainer > img{
        width: 30%;
        margin: 1%;
        box-shadow: 0px 0px 1em #161316;
        border-radius: 0.5em;
    }

    
    .GamesGrid{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto auto;
        padding: 1em;
    }

    .GridText1{
        grid-row: 1;
        grid-column: 1;
    }

    
    .GridText2{
        grid-row: 1;
        grid-column: 2;
    }
    
    .GridText3{
        grid-row: 1;
        grid-column: 3;
    }
    .GridTable{
        grid-row: 2;
        grid-column: 1 / 2;
    }

    .GridImage1{
        grid-row: 2;
        grid-column: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .GridImage1 > img{
        margin-top: 1em;
        width: 95%;
        box-shadow: 0px 0px 1em #161316;
        border-radius: 0.5em;
    }

    .GridImage2{
        grid-row: 2;
        grid-column: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .GridImage2 > img{
        margin-top: 1em;
        width: 95%;
        box-shadow: 0px 0px 1em #161316;
        border-radius: 0.5em;
    }

    .GridImage3{
        grid-row: 2;
        grid-column: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .GridImage3 > img{
        margin-top: 1em;
        width: 95%;
        box-shadow: 0px 0px 1em #161316;
        border-radius: 0.5em;
    }
  }

@media screen and (max-width: 720px) {    
    
    nav, footer{
        padding: 1vh;
    }
    
    nav{
        display: flex;
        justify-content: center;
        position: relative;
        overflow: hidden;
        font-size: 4vw;
    }
    
    th{
        padding-right: 3vw;
        padding-left: 3vw;
    }
     
    footer{
        font-size: 3vw;
        margin-top:auto;
    }

    .ImageContainer{
        flex-direction: column;
    }

    .ImageContainer > img{
        width: 95%;
        margin: 5%;
        box-shadow: 0px 0px 1em #161316;
        border-radius: 0.5em;
    }

    .IndexTitle > img{
        height: 35vw;
    }

    .GamesGrid{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        padding: 1em;
    }

    .GridText1{
        grid-row: 1;
    }
    
    .GridText1{
        grid-row: 3;
    }
    
    .GridText1{
        grid-row: 5;
    }
    .GridTable{
        grid-row: 7;
    }

    .GridImage1{
        grid-row: 6;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .GridImage1 > img{
        margin-top: 1em;
        margin-bottom: 1em;
        box-shadow: 0px 0px 1em #161316;
        border-radius: 0.5em;
        width: 100%;
    }

    .GridImage2{
        grid-row: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .GridImage2 > img{
        margin-top: 1em;
        margin-bottom: 1em;
        box-shadow: 0px 0px 1em #161316;
        border-radius: 0.5em;
        width: 100%;
    }

    .GridImage3{
        grid-row: 4;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .GridImage3 > img{
        margin-top: 1em;
        margin-bottom: 1em;
        box-shadow: 0px 0px 1em #161316;
        border-radius: 0.5em;
        width: 100%;
    }
    
}